.bg-gray {
    background-color: gainsboro;
}

.search-box{
    width: 300px;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
}

.img-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.float-container {
    width: 100%;    
    height: 200px;
    background: aqua;
    margin: auto;
    padding: 10px;
    position: relative;
  }
  
  .float-left {
    width:32%;
    height: 150px;
    background: rgb(216, 195, 143);
    float: left;
  }

  .mg-left{
      margin-left: 10px;
      margin-top: 10px;
      padding-top: 25px;    
  }
  .clear{
      display: block;
      clear: both;
  }

  


